.navbar {
    z-index: 11;
    left: 0;
    top: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    height: 48px;
    padding: 8px 0;
}
.navbar .navbar_logo a{
    color: #fff;
}
.navbar .navbar_menu {
    display: flex;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
    padding: 8px 0;
    top: 0px;
    left: 0;
    flex-direction: column;
    background: #101619;
    height: 100vh;
    width: 50%;
    transform: translateX(-100vw);
    transition: 1s;
    
    
}
.navbar.navbar--open  {
    opacity: 1;
}
.navbar.navbar--open .navbar_menu {
    transform: translateX(0vw);
    transition: 1s;
}
.navbar .navbar_menu .menu_item {
    margin-bottom: 8px;
    padding: 16px 0;
}
.navbar .navbar_menu .menu_item:not(:last-child){
    border-bottom: 1px solid#fff;
    width: 100%;
} 
.navbar .navbar_menu .menu_item a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    font-size:16px;
}
.navbar .navbar_btn{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35px;
}
.navbar .navbar_btn .navbar_btn_row{
    background: #fff;
    height: 6px;
    width: 100%;
}
.navbar .navbar_btn .navbar_btn_row.row1{
    transform: translateY(0)  rotate(0) scaleY(1);
    transition:1s;
}
.navbar .navbar_btn .navbar_btn_row.row2{
    transform:  scaleX(1);
    transition:1s;
}
.navbar .navbar_btn .navbar_btn_row.row3{
    transform: translateY(0)  rotate(0) scaleY(1);
    transition:1s;

}
.navbar.navbar--open .navbar_btn .navbar_btn_row.row1{
    transform: translateY(13px)  rotate(45deg) scaleY(0.8);
    transition:1s;
}
.navbar.navbar--open .navbar_btn .navbar_btn_row.row2{
    transform:  scaleX(0);
    transition:1s;

}
.navbar.navbar--open .navbar_btn .navbar_btn_row.row3{
    transform: translateY(-13px)  rotate(-45deg) scaleY(0.8);
    transition:1s;
    
}


@media only screen and (min-width: 600px) {
    .navbar .navbar_btn{
        display: none;
    }
    .navbar .navbar_menu {
        display: flex;
        transform: translateX(0vw);
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0px ;
        flex-direction: row;
        background: transparent;
        height: auto;
        width: 50%;
        top: initial;
        left: initial;
    }

    .navbar .navbar_menu .menu_item {
        margin-bottom: 0;
        padding:  0;
        width:auto;
        margin-left: 0px;
        
    }
    .navbar .navbar_menu .menu_item:not(:last-child){
        border-bottom: none;
    } 
    .navbar .navbar_menu .menu_item a{
        margin-left: 16px;
        width: initial;
        
    }
}